*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    
}
.crud{
    width: 80%;
    margin: auto;
}
.header {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    
}
.header p {
    margin-top: 20px;
}
input{
    background-color: #111;
    width: 100%;
    border: none;
    outline: none;
    padding: 4px;
    margin-top: 4px;
    border-radius: 4px;
    color: #fff;
}
input:focus{
    background-color: #000;
    transform:scale(1.1);
}
.price{
    align-items: center;
    
}
small{
    background-color: red;
    padding:3px;
    border-radius: 4px;

}
#total::before{
    content: "Total:";
    font-weight: bold;
}

.price input{
    width: 20%;
}
button{
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background-color: #550076;
    padding: 0% 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
#button{
    width: 100%;
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
}
button:hover{
    background-color: #610485;
    letter-spacing: 2px;
    
}
.output{
    width: 100%;
}
.btnsercher{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.btnsercher button{
    width: 45%;
    padding-left: 10%;
    padding-right: 10%;
}
table{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
table th{
    text-transform: uppercase;
}
tbody button{
    padding:0% 20%;
}